* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}
ul, ol ,li{
    list-style: none;
}

body{
    height: 80vh;
    display: flex;
    flex-direction: column;
    padding-inline: 80px;
    background-image: url('passeio-de-balao-praia-grande-1.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    filter: grayscale; 
}

.marca h2{
    font-size: 15px;
    text-align: left;
    color: aliceblue;
    margin-top: 56%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header{
    height: 200px;
    display: flex;
    justify-content: space-between;
    

}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}
.rounded-square {
    width: 100px;            /* largura do quadrado */
    height: 100px;           /* altura do quadrado */
    background-color: #3498db; /* cor de fundo */
    border-radius: 15px;    /* bordas arredondadas */
    margin: 10px;           /* espaçamento entre os quadrados */
}

.menu ul{
    display: flex;
    gap: 32px;
    font-size: 15px;
    color: rgb(250, 250, 250);
    margin-left: 70%;
    margin-top: 12%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
main{
    flex-grow: 1;
    display: flex;
}
.conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.conteudo h1{
    font-size: 100px;
    color: rgb(250, 250, 250);
    margin-top: 36%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.conteudo p{
    width: 80%;
    font-size: 20px;
    color: rgb(250, 250, 250);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-block-end: 40%


/*social div{
    height: 96px;
    width: 96px;
    background-color: lightgrey;
    border-radius: 50%;
    background-size: cover; /* Faz a imagem cobrir toda a área */
  /*  background-position: center; /* Centraliza a imagem */
 /*   background-repeat: no-repeat; /* Garante que a imagem não se repita */;   
/*
