* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, ol, li {
    list-style: none;
}

body {
    height: 80vh;
    display: flex;
    flex-direction: column;
    padding-inline: 90px;
    background-image: url('passeio certo.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed; 
}

header {
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.container {
    display: flex;
    align-items: center;
    gap: 20px;
    color: aliceblue;
}

.container h2 {
    font-size: 15px;
    text-align: center;
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: -48px;
}

.header-img {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    object-fit: cover;
    margin-top: -50px;
}

.buscar {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    margin-left: 110px;
}

.menu ul {
    display: flex;
    gap: 32px;
    font-size: 15px;
    color: rgb(250, 250, 250);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 1100px;
    margin-top: -120px;
}

.conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.conteudo h1 {
    font-size: 126px;
    color: rgb(250, 250, 250);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 300px;
}

.testeimg {
    position: absolute;
    right: 800px;
    top: 59%;
    transform: translateY(-40%);
    width: 310px;
    height: 450px;
    border-radius: 40px;
    overflow: hidden;
}

.testeimg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.montanha{
    position: absolute;
    right: 460px;
    top: 59%;
    transform: translateY(-40%);
    width: 310px;
    height: 450px;
    border-radius: 40px;
    overflow: hidden;
    margin-left: -500px;
}
.montanha img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.california{
    position: absolute;
    right: 460px;
    top: 59%;
    transform: translateY(-40%);
    width: 310px;
    height: 450px;
    border-radius: 40px;
    overflow: hidden;
    margin-left: -500px;
}


.conteudo p {
    width: 80%;
    font-size: 20px;
    color: rgb(250, 250, 250);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.h1 {
    color: pink;
    margin-left: 1660px;
    margin-top: 10px;
}